nav li{
    list-style: none;
    display: inline;
    margin-right: 15px;
}
nav li:hover{
    background-color: rgb(236, 0, 39);
}
nav li a{
    text-decoration: none;
}
footer {
    text-align: center;

}
article{
    
    background-color:skyblue  ;
}
