*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.logo h1{
    font-size: 45px;
    font-weight: 900px;
}
 
.font-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

 header{
     background-color: #FFF8F3;
     background:url("/images/developer.png"),url("/images/header_bg.png"),#FFF8F3 ;
     background-position: top left,bottom right;
     background-repeat: no-repeat;
     padding-top: 51px;
 }
 nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
 }
 nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
 }
 .btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;


 }
 .libtn{
    display: flex;
    gap:30px  ;
 }

 #banner{
    margin: 55px 25px 0px 215px  ; 
    display: flex;                                                                                                             
    justify-content: space-between;
    align-items: center;


 }
 #banner .banner-content{
    max-width:585 ;
 }
 #banner .banner-content h2{
font-size: 45px;
font-weight: 600px;
color: #474747;
margin: 5px;

 }
 #banner .banner-content h1{
font-size: 85px;
width: 700;
color:black ;
margin: bottom 17px; ;


 }
  #banner .banner-content p{
font-size: 18px;
width: 400;
color:#757575 ;
line-height: 30px;
margin-bottom:  21px; ;


 }

 #banner .banner-image img{
    max-width: 585px;
    vertical-align:middle ;

 }

 #about{
    padding-top: 125px;
    padding-left:  230px ;
    padding-bottom:0px  ;
    padding-right: 230px ;
    

 }
 #about .about-container{
    background-color:#FFF8F3 ;
    /* width: 70%; */
    max-width: 1140px;
    height: 550px;
    margin:0 auto;
    text-align: center;
    padding: 131px 156px 131px 156px ;

 }
 .heading-items{
    width: 827px;
    line-height: 30px;
    font-size: 18;
    color: #757575;
    text-align: center;

 }
  .heading-items h1{
    font-size: 35px;
    color: #181818;
    width: 827px; 
    padding-bottom: 30px;

  }